.buttons {
  margin-top: 9px;
  margin-left: 3px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.button {
  cursor: pointer;
}

.myLocation {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 25px;
}
.myLocationLogo {
  margin-right: 4px;
}
